*{
    box-sizing:border-box ;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-inline-start: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
} 
.main-heading h2 {
    font-size: 45px;
    text-align: center;
    padding: 50px;
    padding-top: 70px;
    
    position: relative;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 13px;
    border-top: 1px solid #ff305b;
    border-bottom: 1px solid #ff305b;
    left: 50%;
    transform: translateX(-50%);
    bottom: 23px
}

.main-heading h2::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: #ff305b;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
@font-face {
font-family: "Source Sans Pro";
src: url(../fonts/SourceSansPro-Bold.otf);
font-weight: 900;
}
@font-face {
font-family: "Source Sans Pro";
src: url(../fonts/SourceSansPro-Semibold.otf);
font-weight: 600;
}
@font-face {
font-family: "Source Sans Pro";
src: url(../fonts/SourceSansPro-It.otf);
font-weight: 400;
}

p,a,li,span{
    font-family:"Roboto", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Source Sans pro";
}
.header .container .logo{
    display: inline-block;
}
/* start-header */
header{
    background-image: url(../image/hero\ img.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
header .layout{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,  80%);
}
.header .container{
    position: relative;
}

.header .container .logo a {
    color: #ff305b;
    font-size: 25px;
    font-weight: 500;
    padding-top: 18px;
text-decoration: none;
}

.header .container .logo {
    margin-top: 20px;
}
.header .container .nav-bar {
    position: absolute;
    top: 23px;
    right: 5px;
}
.header .container .nav-bar .menu i{
color: white;

}
.header .container .nav-bar ul {
    display: flex;
}
.header .container .nav-bar ul li {
    list-style: none;
    padding-left: 25px;
}

.header .container .nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.header .container .nav-bar ul li .red {
color: #a5223d;
}
.header .container .nav-bar ul li a:hover {
color: #a5223d;
}

.header .landing{
position: relative;
}
.header .landing{
    position: relative;
}
.header .landing .text {
    color: white;
    text-align: center;
    position: absolute;
top: 38vh;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
.header .landing .text h3 {
    font-size: 24px;
    margin: 10px;
}

.header .landing .text h1 {
    color: #ff305b;
    font-size: 65px;
    margin: 10px 0;
}

.header .landing .text p {
    font-size: 25px;
}
/* end-header */
/* start-about */
.about{
padding-top: 100px;
padding-bottom: 50px;
}

.about .container .about-siction {
    display: flex;
    flex-wrap: wrap;
}
.about .container .image {
padding-right: 75px;
position: relative;
overflow: hidden;
border-radius: 8px;
margin-bottom: 42px;
}

.about .container .image .icon-img {
    background-color: #000000b3;
    width: 360px;
    position: absolute;
    text-align: center;
    height: 441px;
    bottom: -441px;
    transition: bottom 1s;
}
.about .container .image:hover .icon-img{
    bottom:1px;
}

.about .container .image .icon-img span{
    position: relative;
    top: 47%;
    margin-right: 11px;
    font-size: 20px;
}
.about .container .image .icon-img span a {
    color: white;
}


.about .container .caption{
width: 50%;
display: flex;
flex-direction: column;
}
.about .container .caption h2 {
    margin-bottom: 17px;
    font-size: 30px;
    color: #333333;
}
.about .container .caption h2::before{
    content: "l";
    color: #ff305b;
    margin-right: 6px;
}

.about .container .caption p {
    font-size: 18px;
    font-weight: 400;
    color: #000000b8;
    margin-bottom: 40px;
    position: relative;
}
.about .container .caption p::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed;
    bottom: -20px;
    left: 0;
}

.about .container .caption .lists {
    display: flex;
    flex-wrap: wrap;
justify-content:space-between;
}

.about .container .caption .list-2 a {
text-decoration: none;
color:rgba(0, 0, 0, 0.627) ;
}

.about .container .caption .list-1 span,.list-2 span {
    font-weight: 500;
    color: rgb(0 0 0 / 76%);

}
.about .container .caption .list-1 div,.list-2 div {
    font-family:"Roboto", sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.627);
}
.about .container .caption .link a{
background-color: #ff305b;
display: inline-block;
color: white;
text-decoration: none;
text-align: center;
}
.about .container .caption .link a:hover {
    background: red;
}
.about .container .caption .link .link-1 {
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
}

.about .container .caption .link .link-2 {
    width: 130px;
    padding: 15px;
    border-radius: 5px;
}
/* end-about */
/* start-services */
.Services{
    background-color: #f1f1f1;
    margin-top: 0;
    margin-bottom: 50px;
}
.Services .contant {
    display:flow-root;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 60px;
}
.Services .contant{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Services .contant .box {
width: 25%;
height: 300px;
transition:all 500ms;
padding: 10px;
}
.Services .contant .box:hover {
    background-color: white;
    box-shadow: 0px 0px 12px 0px #0000001f;
}
.Services .contant .box i {
    font-size: 30px;
    color: #ff305b;
    margin-bottom: 30px;
    margin-top: 50px;
}

.Services .contant .box:hover i {
    font-size: 35px;
    transition: 500ms;
    margin-bottom: 25px;
}

.Services .contant .box h3 {
    font-size: 25px;
    font-weight: 660;
    margin-bottom: 20px;
}


.Services .contant .box p {
    font-size: 20px;
    color: #000000bf;
    margin-bottom: 30px;
}
/* end-services */
/* start-Portfolio */
.Portfolio .Portfolio-nav {
    text-align: center;
    margin-top: 25px;  
     margin-bottom: 50px;
}
.Portfolio .Portfolio-nav a {
    color: #333333;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;

}
.Portfolio .Portfolio-nav .chacked{
color: #ff305b;
}

.Portfolio .Portfolio-nav a:focus {
    color: #ff305b;
}

.Portfolio .card{
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Portfolio .card .image{
    width: 30%;
margin-top: 20px;
position: relative;
}


.Portfolio .card .image img{
    width: 100%;
}

.Portfolio .card .image .layer {
    position: absolute;
    background-color: #333333a3;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: 500ms;
}

.Portfolio .card .image .layer i {
color: #ff305b;
color: #ff305b;
position: absolute;
right: 10px;
bottom: 7px;
font-size: 21px;
}
.Portfolio .card .image:hover .layer {
    opacity: 1;
}

/* end-Portfolio */
/* start-static */

.static {
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}
.static .box-static {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.static .stat {
    width: 25%;
}
.static .stat i {
    font-size: 28px;
    color: #ff305b;
    margin-bottom: 20px;
    margin-top: 50px;
}
.static .stat h3 {
    font-size: 25px;
    margin-bottom: 20px;
}
/* end-static */
/* start-Testimonial */


.Testimonial .feedback {
    background-color: #f1f1f1;
    width: 75%;
    padding: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}


.Testimonial .feedback::after{
    content: "";
    position: absolute;
    width: 0;
    border: 117px solid;
    border-color: #ff305b transparent transparent #ff305b;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.Testimonial .feedback::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 11px;
    background-color: #ff305b;
    bottom: -17px;
left: 48%;
transform: translateX(-50%);
    border-radius: 14px;
}


.Testimonial .feedback .image {
position: relative;
margin-right: 40px;
padding-bottom: 50px;
z-index: 2;
}


.Testimonial .feedback .image img {
border-radius: 50%;
width: 120px
}
.Testimonial .feedback .text {
    width: 75%;
}

.Testimonial .feedback .text h3 {
font-size: 26px;
font-weight: 600;
margin-bottom: 15px;
}

.Testimonial .feedback .text h4 {
    font-weight: 600;
    margin-bottom:15px;
    color: #333;
    opacity: 0.6;
    font-size: 15px;
    margin-top: 0;
}
.Testimonial .feedback .text h4 a {
text-decoration: none;
color: #333;
}

.Testimonial .feedback .text p {
    font-size: 17px;
    font-style: italic;
    margin-bottom: 10px;
}
.Testimonial .feedback .reating i {
color: #f1c30d;
}

/* end-Testimonial */
/* start-Blog */

.Blog {
background-color: #f1f1f1;
margin-top: 150px;
padding-bottom: 80px;
}
.Blog .contant {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.Blog .contant .box {
    width: 100%;
    background-color: white;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.Blog .contant .box img{
    width: 100%;
    height: 200px;
    
}
.Blog .contant .box iframe {
    width: 100%;
    height: 200px;


}

.Blog .contant .box h3 {

    font-weight: 600;
    font-size: 23px;
    padding: 10px 15px;
}
.Blog .contant .box h3 a {
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
    font-family:"Source Sans pro"; ;
    transition: color 500ms;
}
.Blog .contant .box a:hover{
    color: #ff305b;
}
.Blog .contant .box p {
    padding: 10px 15px;
    font-size: 18px;
    color: #333333b6;
    margin-top: 5px;
}
.Blog .contant .box .read-more {
    padding: 10px 15px;
margin-bottom: 20px;
}

.Blog .contant .box .read-more a {
    text-decoration: none;
color: #333333;
transition: color 500ms;
}
.Blog .contant .box .read-more a:hover {
    color: #ff305b;
}
/* end-Blog */
/* stat-Contact */
.Contact{
    padding-bottom: 50px;
}


.Contact .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
}
.Contact .input-1 {
width: 35%;
}
.Contact .input-1 input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #33333382;
    outline: none;
}
.Contact .input-2 {
width: 35%;
}
.Contact .input-2 input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #33333382;
    outline: none;
}
.Contact .inputs-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 51%;
    margin: 0 auto;
    gap: 30px;
    margin-top: 35px;
}

.Contact .input-3 {
width: 142%;
}

.Contact .input-3 input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #33333382;
    outline: none;

}

.Contact .text-area textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #33333382;
    outline: none;
    margin-bottom: 20px;
    border-radius: 5px;
}
.Contact  input::placeholder,textarea::placeholder {
    padding: 5px;
    font-size: 16px;
    color: #3333337e;
}
.Contact  input:focus,textarea:focus {
    border: 1px solid #ff305b;

}
.Contact textarea:focus {
    border: 1px solid #ff305b;

} 

.Contact button {
    width: 155px;
    height: 45px;
    background-color: #ff305b;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: -35px;
}
.Contact button:hover {
   background-color:  red;
}
/* end-Contact */
/* star-footer */

.footer {
    background-color: #333333;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}
.footer .icon-footer ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.footer .icon-footer ul li a {
    color: white;
    font-size: 16px;
}
.footer .icon-footer ul li a:hover {
color: #ff305b;
}

.footer .text p{
margin-top: 5px;
font-size: 15px;
}
.footer .text p a {
text-decoration: none;
color: #ff305b;
}
.footer .text p a:hover {
    text-decoration: underline;
}
/* enf-footer */