@media screen and (max-width:640px){
    
.header .container .logo a {
    color: #ff305b;
    font-size: 28px;
    font-weight: 500;
    padding-top: 18px;
    text-decoration: none;
    margin-left: -50px;
}
    .header .container .nav-bar ul {
        display: none;
    }
    .header .container .nav-bar i {
        display: flex;
        color: white;
        position: absolute;
        left: 34px;
        font-size: 23px;
    }
    .header .landing .text h3{
        font-size: 22;
    }
    .header .landing .text h1 {
        font-size: 45px;
    }
    .header .landing .text p {
        font-size: 22px;
    }
    .about .container .image {
        padding-right: 0px;
        margin: -60px;
    }
    .about .container .image img {
        width: 100%;
    }
    .about .container .image .icon-img {
        width: 100%;
    }
    .about .container .caption h2 {
        margin-bottom: 17px;
        font-size: 36px;
        color: #333333;
        margin-top: 70px;
        margin-left: -63px;
    }
    .about .container .caption p {
        font-size: 18px;
        font-weight: 400;
        color: #000000b8;
        margin-bottom: 40px;
        position: relative;
        width: 250%;
        margin-left: -64px;
    }
    .about .container .caption .lists {
        margin-left: -60px;
    }

    .about .container .caption .lists div {
        font-size: 15px;
    }
    .about .container .caption .link {
        display: flex;
        margin-left: -60px;
        width: 239%;
    }
    .Services {
        background-color: #f1f1f1;
        margin-top: 22px;
        margin-bottom: 50px;
    }
    .Portfolio .Portfolio-nav a {
        color: #333333;
        text-decoration: none;
        font-size: 12px;
        margin: 3px;
    }
    .Portfolio .card {
        margin-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -49px;
    }
    .Portfolio .card .image{
        width: 100%;
    }
    
    .Services .contant .box {
        width: 100%;
    }
    .Testimonial .feedback {
        flex-wrap: wrap;
    }
    .static .stat {
        width: 100%;
    }
    .static {
        margin-top: 135px;
    }
    .Testimonial .feedback {
        background-color: #f1f1f1;
        width: 141%;
        padding: 60px 25px;
        margin-top: 50px;
        margin-bottom: 80px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .Testimonial .feedback .image {
        position: relative;
        padding-bottom: 50px;
        z-index: 2;
        margin: 0 auto;
    }
    .Testimonial .feedback::after {
        content: "";
        position: absolute;
        width: 0;
        border: 117px solid;
        border-color: #ff305b transparent transparent #ff305b;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    .Testimonial .feedback .text {
        width: 100%;
    }
    .Blog .contant {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 140%;
        margin-left: -60px;
    }
    .Contact .inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .Contact .input-1 {
        width: 125%;
        margin-left: -33px;
    }
    .Contact .input-2 {
        width: 125%;
        margin-left: -33px;
    }
    .Contact .inputs-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        width: 89%;
        margin: 0 auto;
        gap: 19px;
        margin-top: 17px;
    }
    .footer .icon-footer {
        margin-left: -22%;
    }
    .footer .text p {
        margin-top: 5px;
        font-size: 10px;
        margin-left: -10px;
    }
    }

@media screen and (min-width:640px) {
    .container {
        width: 90%;
    }
.header .container .logo a {
    color: #ff305b;
    font-size: 28px;
    font-weight: 500;
    padding-top: 18px;
    text-decoration: none;
    margin-left: -30px;
}
    .header .container .nav-bar ul {
        display: none;
    }
    .header .container .nav-bar i {
        display: flex;
        color: white;
        position: relative;
        left: 34px;
        font-size: 23px;
            }
            
            
    .Blog .contant .box {
        width: 100%;
    }
    .Portfolio .card .image{
        width: 100%;
    }
    .Services .contant .box {
        width: 100%;
    }
    .Testimonial .feedback {
        flex-wrap: wrap;
    }
    .static .stat {
        width: 100%;
    }
}
@media screen and (min-width:768px) {
    .container {
        width: 90%;
    }
    .about .container .caption .link {
        display: flex;
        width: 239%;
    }

    .about .container .image {
        padding-right: 25px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        width: 50%;
    }
    .about .container .caption .list-1 div, .list-2 div {
        font-family: "Roboto", sans-serif;
        margin-bottom: 20px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.627);
    }
    .Blog .contant .box {
        width: 48%;
    }
    .Portfolio .card .image{
        width: 48%;
    }
    .Services .contant .box {
        width: 48%;
    }
    .Portfolio .card .image .layer {
        position: absolute;
        background-color: #333333a3;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        transition: 500ms;
    }

    .static .stat {
        width: 48%;
    }
}
@media screen and (min-width:1024px) {
    .container {
        width: 95%;
    }
    .header .container .nav-bar ul{
        display: flex;
    }
    .header .container .nav-bar i {
    display: none;
    }
    .Blog .contant .box {
        width: 30%;
    }
    .about .container .caption {
        width: 47%;
        display: flex;
        flex-direction: column;
    }
    .about .container .image {
        padding-right: 75px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        width: 40%;
    }
    
    .about .container .caption .list-1 div, .list-2 div {
        font-family: "Roboto", sans-serif;
        margin-bottom: 20px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.627);
    } 
    .Portfolio .card .image{
        width: 30%;
    }
    .Services .contant .box {
        width: 25%;
        height: fit-content;
    }
    .Testimonial .feedback {
        flex-wrap: nowrap;
    }
    .static .stat {
        width: 25%;
    }

}
@media screen and (min-width:1280px) {  
    .container {
        width: 65%;
    }
    .header .container .nav-bar i {
        display: none;
    }
    .about .container .image {
        padding-right: 75px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        width: 45%;
    }
    .about .container .caption {
        width: 55%;
        display: flex;
        flex-direction: column;
    }
    .about .container .caption .list-1 div, .list-2 div {
        font-family: "Roboto", sans-serif;
        margin-bottom: 20px;
        font-size: 21px;
        color: rgba(0, 0, 0, 0.627);
    }

    .Blog .contant .box {
        width: 30%;
    }
    .Services .contant .box {
        width: 25%;
    }
    .Services .contant .box i {
        font-size: 30px;
        color: #ff305b;
        margin-bottom: 30px;
        margin-top: 8px;
    }
}
@media screen and (min-width:1536px) {
    .about .container .caption .list-1 div, .list-2 div {
        font-family: "Roboto", sans-serif;
        margin-bottom: 20px;
        font-size: 21px;
        color: rgba(0, 0, 0, 0.627);
    }
    .about .container .image {
        padding-right: 75px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        width: 38%;
    }
}
